.popup__submit-button {
    width: 100%;
    height: 50px;
    margin: 49px auto 0;
    background-color: black;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 600px) {
    .popup__submit-button {
        height: 46px;
        margin-top: 45px;
        font-size: 14px;
        line-height: 17px;
    }
}

